body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  width: 100%;
}

#root {
  display        : flex;
  justify-content: center;
}


.w-100 {
  width: 100%;
}


label {
  display    : block;
  font-weight: 500;
}

main {
  padding  : 10px;
  max-width: 300px;
}

.form-group {
  padding: 5px;
}

.section {
  width        : 100%;
  margin-bottom: 10px;
}

.section-title {
  font-weight: bold;
  display    : block;
  font-size  : 1.5em;
}

.options {
  margin-top: 10px;
}

.remove-question {
  padding        : 5px;
  width          : 30px;
  font-size      : 20px;
  display        : flex;
  justify-content: center;
  align-items    : center;
  cursor         : pointer;
}

.xml-viewer {
  overflow: auto;
  border  : 1px solid black;
}

.is-selected {
  background-color: black;
  color           : white;
}

select {
  min-width: 100px;
}

.add-question-button {
  max-height: 30px;
  font-size : 15px;
  float     : right;
}